body {
  background-color: brown;
}
h1 {
  font-size: 3rem;
  text-align: center;
  border: 3px solid green;
}

ul {
  list-style-type: disc;
  margin: 1 rem;
}

ol  {
  list-style-position: inside;
  list-style: decimal;
  padding: 1rem;
}